@import "../base/variables";


@media only screen and (max-width: 1300px) {

    // MEDIA QUERY HEADER RESPONSIVE
    .complete-nav {
        .nav-section-d {
            .main-nv {
                gap: 1.5rem;
            }
        }
    }

    body {
        main {
            .features {
                .left-card {
                    div {
                        a {
                            padding: 1.5vh 1vw;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {

    // MEDIA QUERY HEADER RESPONSIVE
    .complete-nav {
        .nav-section-d {
            .main-nv {
                gap: 1rem;
            }
        }
    }

    body {
        main {
            .features {
                .left-card {
                    div {
                        h2 {
                            font-size: 1.5vw;
                        }

                        a {
                            padding: 1.5vh 0.5vw;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1005px) {

    // MEDIA QUERY HEADER RESPONSIVE
    .complete-nav {
        align-items: flex-end;
        justify-content: center;

        .hamburger {
            display: block;
            justify-self: start;
            cursor: pointer;
            padding-bottom: 21px;
            padding-left: 15px;

            .line {
                width: 30px;
                height: 3px;
                background-color: black;
                margin: 6px 0;
            }
        }

        .nav-section-d {
            height: 0;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            width: 100%;
            background: white;
            transition: 0.2s;
            overflow: hidden;

            .main-nv {
                display: block;
                width: fit-content;
                text-align: start;
                transition: 0.5s;
                opacity: 0;

                li {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }

            .main-nv.active {
                opacity: 1;
            }
        }

        .nav-section-d.active {
            height: 200px;
        }

        .nav-section {
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-basis: 100%;
            padding-right: 15px;

            h1 {
                padding-bottom: 12px;
                padding-right: 5px;
            }
        }

        .nav-section-i {
            display: none;

            .sub-nv {
                display: none;
            }
        }
    }

    // MEDIA QUERY HOME RESPONSIVE
    body {
        main {
            .features {
                padding: 10px;
                padding-bottom: 150px;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                height: 220vh;

                .left-card {
                    display: none;
                }

                .right-card {
                    h2 {
                        font-size: 3vw;
                        padding-bottom: 10px;
                    }

                    a {
                        font-size: 1.5vw;
                    }
                }
            }

            .texto-about {
                div {
                    p {
                        font-size: 22px;
                    }

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 900px) {

    // MEDIA QUERY HEADER RESPONSIVE
    .complete-nav {
        align-items: flex-end;
        justify-content: center;

        .hamburger {
            display: block;
            justify-self: start;
            cursor: pointer;
            padding-bottom: 21px;
            padding-left: 15px;

            .line {
                width: 30px;
                height: 3px;
                background-color: black;
                margin: 6px 0;
            }
        }

        .nav-section-d {
            height: 0;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            width: 100%;
            background: white;
            transition: 0.2s;
            overflow: hidden;

            .main-nv {
                display: block;
                width: fit-content;
                text-align: start;
                transition: 0.5s;
                opacity: 0;

                li {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }

            .main-nv.active {
                opacity: 1;
            }
        }

        .nav-section-d.active {
            height: 200px;
        }

        .nav-section {
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-basis: 100%;
            padding-right: 15px;

            h1 {
                padding-bottom: 12px;
                padding-right: 5px;
            }
        }

        .nav-section-i {
            display: none;

            .sub-nv {
                display: none;
            }
        }
    }

    // MEDIA QUERY HOME RESPONSIVE
    body {
        main {
            .features {
                padding: 10px;
                padding-bottom: 150px;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                height: 200vh;

                .left-card {
                    display: none;
                }

                .right-card {
                    h2 {
                        font-size: 3vw;
                        padding-bottom: 10px;
                    }

                    a {
                        font-size: 1.5vw;
                    }
                }
            }

            .texto-about {
                div {
                    p {
                        font-size: 22px;
                    }

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    // MEDIA QUERY HEADER RESPONSIVE
    .complete-nav {
        align-items: flex-end;
        justify-content: center;

        .hamburger {
            display: block;
            justify-self: start;
            cursor: pointer;
            padding-bottom: 21px;
            padding-left: 15px;

            .line {
                width: 30px;
                height: 3px;
                background-color: black;
                margin: 6px 0;
            }
        }

        .nav-section-d {
            height: 0;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            width: 100%;
            background: white;
            transition: 0.2s;
            overflow: hidden;

            .main-nv {
                display: block;
                width: fit-content;
                text-align: start;
                transition: 0.5s;
                opacity: 0;

                li {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }

            .main-nv.active {
                opacity: 1;
            }
        }

        .nav-section-d.active {
            height: 200px;
        }

        .nav-section {
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-basis: 100%;
            padding-right: 15px;

            h1 {
                padding-bottom: 12px;
                padding-right: 5px;
            }
        }

        .nav-section-i {
            display: none;

            .sub-nv {
                display: none;
            }
        }
    }

    // MEDIA QUERY HOME RESPONSIVE
    body {
        main {
            .features {
                padding: 10px;
                padding-bottom: 150px;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                height: 180vh;

                .left-card {
                    display: none;
                }

                .right-card {
                    h2 {
                        font-size: 4vw;
                        padding-bottom: 10px;
                    }

                    a {
                        font-size: 2vw;
                    }
                }
            }

            .texto-about {
                div {
                    p {
                        font-size: 22px;
                    }

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

// RESPONSIVE PRODUCTS

@media only screen and (max-width: 900px) {
    .galeriaProductos {
        flex-direction: column;
        align-items: center;

        div {
            width: 70vw !important;
        }
    }
}
// RESPONSIVE ABOUT US

@media only screen and (max-width: 960px) {
    .ABmuestra{
        div{
            flex-direction: column;
        }
        img{
            width: 100% !important;
        }
        .ABimgFT {
            padding: 60px 30px !important;
        }

    }
}
