
$color-gray: rgb(231, 231, 231);

// PALETA DE COLORES

$c1 :  rgb(231, 231, 231);
$c2 :  rgb(61, 21, 26);
$c2v : rgba(61, 21, 26, 0.375);
$c3 :  rgb(221, 110, 66);
$c4 :  rgb(188, 190, 200);
$c5 :  rgb(232, 218, 178);
$c6 :  rgb(246,246,242);

